{% extends "base.html" %}
{% block title %}BBot Society Member Homepage{% endblock%}
{% block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages: %}
            {% for msg in messages: %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Welcome, {{userName}}</h1>
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}">
    <input type="submit" value="submit">
</form>
<button onclick="document.location.href = 'logout';" type="button" class="btn btn-danger">Logout</button>
{% endblock %}